@font-face {
  font-family: CaveatBrush-Regular;
  src: url(../../fonts/Caveat_Brush/CaveatBrush-Regular.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../../fonts/Nunito/static/Nunito-Regular.ttf);
}

.front-card-parent-container {
  height: 456px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: #ffdba6;
  border-radius: 50px;
  /* margin: 22px 40px 114px 50px; */

  box-shadow: 0px 6px 5px #c7c7c7;
}

.title-info-container {
  display: flex;
  flex-direction: column;
}

.title-front-card {
  height: 94px;
  font-family: "CaveatBrush-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  padding: 0px 0px 0px 30px;
  color: #572148;

  /* width: 205px; */
}

.info-front-card {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #572148;
  margin: 26px 50px 130px 90px;

  /* width: 545px; */
}

.octopus-container-front-card {
  /* width: 354px; */

  margin: 41px 43px 83px 0;
}

@media screen and (max-width: 1080px) {
  .front-card-parent-container {
    height: 860px;
  }
  .octopus-container-front-card {
    margin: 41px 10px 83px 0;
  }
}

@media screen and (max-width: 840px) {
  .front-card-parent-container {
    flex-direction: column-reverse;
  }
  .octopus-container-front-card {
    margin: 41px 10px 41px 0;
  }
}

@media screen and (max-width: 600px) {
  .front-card-parent-container {
    flex-direction: column-reverse;
    height: 700px;
  }
  .octopus-container-front-card {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .front-card-parent-container {
    flex-direction: column-reverse;
    height: 1000px;
  }
  .octopus-container-front-card {
    display: none;
  }
}
