@font-face {
  font-family: CaveatBrush-Regular;
  src: url(../../fonts/Caveat_Brush/CaveatBrush-Regular.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../../fonts/Nunito/static/Nunito-Regular.ttf);
}

.events-parent-container {
  padding: 50px 10px;
}

.text-250-events-parent {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;

  color: #141b25;
}

.list-of-events-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 40px;
}

@media screen and (max-width: 1440px) {
  .list-of-events-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 30px;
  }
}

@media screen and (max-width: 1080px) {
  .list-of-events-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 40px;
  }
  .events-parent-container {
    padding: 100px 10px;
  }
}

@media screen and (max-width: 1080px) {
  .events-parent-container {
    padding: 100px 10px;
  }
}

@media screen and (max-width: 850px) {
  .events-parent-container {
    padding: 170px 10px;
  }
}

@media screen and (max-width: 720px) {
  .list-of-events-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 20px;
    justify-content: center;
  }
  .events-parent-container {
    padding: 210px 10px;
  }
}
